<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= content_for?(:title) ? yield(:title) : "Eduapp" %></title>
	<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Eduapp" %>">
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= yield(:head) %>
</head>

<body class="two_column" data-twttr-rendered="true">
	<div class="full_container">

		<!-- Modal -->
		<div class="hide modal" id="modal" role="dialog" tabindex="-1">
			<div id="modal-content"></div>
		</div>

		<div class="loader"></div>

		<%= render partial: "shared/header" %>
		<%= yield %>
		<div class="clearfooter"></div>
	</div>
	<%= render partial: "shared/footer" %>
</body>
</html>



