<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= content_for?(:title) ? yield(:title) : "Eduapp" %></title>
	<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Eduapp" %>">
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= yield(:head) %>
</head>
<body class="dialog">
	<%= yield %>
</body>
</html>



